{extends layout.latte}

{block title}TITLE OF PAGE{/block}

{block body}

<form>
    <input type="text" name="filtr"
           placeholder="Zadej hledanou osobu">   
    <input type="submit" value="Hledej">
</form>

<table>
    <tr>
        <td>Jmeno</td>
        <td>Prijmeni</td>
    </tr>
{foreach $osoby as $os}
    <tr>
   
        <td> {$os['first_name']} </td>
        <td> {$os['last_name']} </td>
    
    </tr>
   
    {/foreach}
</table>
{/block}