{* Latte template *}
{extends layout.latte}
{block title}NEW PERSON{/block}
{block body}

<form method="POST">
    <label>Nick</label><input type="text" name="pz"><br>
    <label>Jmeno</label><input type="text" name="jm"><br>
    <label>Prijmeni</label><input type="text" name="pr"><br>
    <label>Datum narozeni</label><input type="date" name="dn"><br>
    <label>Vyska</label> <input type="number" name="vy"><br>
    <label>Pohlavi</label><select name="po">
        <option value="male">Male</option>
        <option value="female">Female</option>
    </select><br>
    <input type="submit" value="OK">
    
</form>
{/block}
